.dark-gradientpane {
  -fx-background-radius: 10;
  -fx-background-color: linear-gradient(to bottom, #1e5799 1%,#7db9e8 75%);
  -fx-background-insets: 0,1,2;
}

.cup {
    /*-fx-background-color: white;  */
    -fx-background-image: url("images/cup.png");
    -fx-background-size: 400, 400;
    -fx-background-repeat: no-repeat;
    /*-fx-border-color: #2e8b57;   */
    /*-fx-border-width: 2px;*/
    -fx-padding: 10;
    -fx-spacing: 8;
}


.overlay {
    -fx-background-color: #2773cc;
}

.autofill-text{
    -fx-skin:"client.control.AutoFillTextBoxSkin";
}

.pumpItem {
 	-fx-fill: white;
 }

 .ingredientItem{
 	-fx-fill: white;
 	-fx-font-size: 32px;
 }

 .drinkItem{
	-fx-fill: white;
    -fx-font-size: 12px;
    -fx-text-fill: white;
 }

.drinkItemImage  {
	-fx-background-image: url("images/drinkItem1.png");
	-fx-background-size: 80, 80;
	-fx-background-repeat: no-repeat;
	-fx-background-position:center;
	-fx-fill: black;
 }
 .drinkImage1 {
 	-fx-background-image: url("images/drinkItem1.png");
 }

.root{
  -icons-color: #2773cc;
}

.icons{
    -fx-font-family: FontAwesome;
    -fx-font-size: 16px;
    -fx-effect: innershadow( three-pass-box , derive(-icons-color,-70%) , 0.1em, 0.0 , 0.07em, 0.07em );
    -fx-text-fill: linear-gradient(to bottom, derive(-icons-color,20%) 10%, derive(-icons-color,-40%) 80%);
}

.icons:hover{
    -fx-effect: dropshadow( three-pass-box , derive(-icons-color,0%) , 0.01em, 0.0 , 0, 0);
}

.padded-button
{
	 -fx-padding: 0.4em 0.8em 0.4em 0.8em;
	 -fx-background-insets: 0, 1 1 1 0, 2 1 1 1;
}

.root{
  -icons-color: rgb(61,114,144);
}

.icon-button {
    -fx-background-position:center;
    -fx-text-base-color: #000000;
    -fx-text-fill: black;
    -icons-color: rgb(61,114,114);
    -fx-background-color:
        #ffc477,
        #eeb44f,
        linear-gradient(to bottom, #eeb44f 2%, #eeb44f 98%);
}
.icon-button:pressed {
    -fx-text-fill: white;
}
.icon-button:hover {
    -fx-effect: innershadow( three-pass-box , #eeeeee , 6, 0.0 , 0 , 2 );
}

.std-button {
	-fx-background-position:center;
    -fx-text-base-color: #000000;
    -fx-text-fill: black;
    -fx-border-bottom-right-radius:20px;
    -fx-border-top-right-radius:20px;
     -fx-background-color:
         #ffc477,
         #eeb44f,
         linear-gradient(to bottom, #eeb44f 2%, #eeb44f 98%);
     -fx-background-radius: 0;
     -fx-effect: dropshadow(two-pass-box,orange,5,.2,0,0);
     -fx-effect: innershadow( three-pass-box , #eeb44f , 6, 0.0 , 0 , 2 );
     -icons-color: rgb(255,255,255);
 }
.std-button:pressed {
	-fx-text-fill: white;
    -fx-background-color:
        #ffe123,
        #ffc477,
        linear-gradient(to bottom, #ffc578 18%,#fb9d23 46%);
}
 .std-button:hover {
 	-fx-effect: innershadow( three-pass-box , #ffe123 , 6, 0.0 , 0 , 2 );
 }

/*CSS for the GUIDrinkController*/
/* http://www.colourlovers.com/business/trends/branding/7880/Papeterie_Haute-Ville_Logo */
.drink-cell-unselected {
  	-fx-fill: transparent;
  	-fx-stroke-width: 0;
}

.drink-cell-0 {
    -fx-fill: #D0D102;
    -fx-stroke: transparent;
    -fx-effect: dropshadow(gaussian, rgba(9, 69, 204, 0.62), 10, 0.5, 0.0, 0.0);
    -fx-effect: innershadow(gaussian, rgba(9, 42, 204, 0.62), 10, 0.5, 0.0, 5.0);
    -fx-effect: innershadow(gaussian, rgba(3, 31, 85, 0.63), 10, 0.5, 0.0, -5.0);
 }

.drink-cell-1{
    -fx-fill: #E54028;
    -fx-stroke: transparent;
    -fx-effect: dropshadow(gaussian, rgba(193, 38, 204, 0.61), 10, 0.5, 0.0, 0.0);
    -fx-effect: innershadow(gaussian, rgba(9, 42, 204, 0.62), 10, 0.5, 0.0, 5.0);
    -fx-effect: innershadow(gaussian, rgba(3, 31, 85, 0.63), 10, 0.5, 0.0, -5.0);
}

.drink-cell-2{
    -fx-fill: #61AE24;
    -fx-stroke: transparent;
    -fx-effect: dropshadow(gaussian, rgba(53, 255, 116, 0.64), 10, 0.5, 0.0, 0.0);
    -fx-effect: innershadow(gaussian, rgba(97, 252, 255, 0.64), 10, 0.5, 0.0, 5.0);
    -fx-effect: innershadow(gaussian, rgba(23, 255, 178, 0.64), 10, 0.5, 0.0, -5.0);
}

.drink-cell-3 {
    -fx-fill: #F18D05;
    -fx-stroke: transparent;
    -fx-effect: dropshadow(gaussian, rgba(39, 115, 204, 0.64), 10, 0.5, 0.0, 0.0);
    -fx-effect: innershadow(gaussian, rgba(39, 115, 204, 0.63), 10, 0.5, 0.0, 5.0);
    -fx-effect: innershadow(gaussian, rgba(15, 92, 204, 0.64), 10, 0.5, 0.0, -5.0);
}

.drink-cell-4 {
   -fx-fill: #FF0000;
   -fx-stroke: transparent;
    -fx-effect: dropshadow(gaussian, rgba(9, 69, 204, 0.62), 10, 0.5, 0.0, 0.0);
    -fx-effect: innershadow(gaussian, rgba(9, 42, 204, 0.62), 10, 0.5, 0.0, 5.0);
    -fx-effect: innershadow(gaussian, rgba(3, 31, 85, 0.63), 10, 0.5, 0.0, -5.0);
}

.drink-cell-5 {
    -fx-fill: #CECECE;
    -fx-stroke: transparent;
    -fx-effect: dropshadow(gaussian, rgba(9, 69, 204, 0.62), 10, 0.5, 0.0, 0.0);
    -fx-effect: innershadow(gaussian, rgba(9, 42, 204, 0.62), 10, 0.5, 0.0, 5.0);
    -fx-effect: innershadow(gaussian, rgba(3, 31, 85, 0.63), 10, 0.5, 0.0, -5.0);
}

.drink-cell-6 {
    -fx-fill: #0000FF;
     -fx-stroke: transparent;
    -fx-effect: dropshadow(gaussian, rgba(9, 69, 204, 0.62), 10, 0.5, 0.0, 0.0);
    -fx-effect: innershadow(gaussian, rgba(9, 42, 204, 0.62), 10, 0.5, 0.0, 5.0);
    -fx-effect: innershadow(gaussian, rgba(3, 31, 85, 0.63), 10, 0.5, 0.0, -5.0);
}

.drink-cell-7 {
    -fx-fill: #00FF00;
    -fx-stroke: transparent;
    -fx-effect: dropshadow(gaussian, rgba(9, 69, 204, 0.62), 10, 0.5, 0.0, 0.0);
    -fx-effect: innershadow(gaussian, rgba(9, 42, 204, 0.62), 10, 0.5, 0.0, 5.0);
    -fx-effect: innershadow(gaussian, rgba(3, 31, 85, 0.63), 10, 0.5, 0.0, -5.0);
}

.drink-cell-8 {
    -fx-fill: #FF0D05;
    -fx-stroke: transparent;
    -fx-effect: dropshadow(gaussian, rgba(9, 69, 204, 0.62), 10, 0.5, 0.0, 0.0);
    -fx-effect: innershadow(gaussian, rgba(9, 42, 204, 0.62), 10, 0.5, 0.0, 5.0);
    -fx-effect: innershadow(gaussian, rgba(3, 31, 85, 0.63), 10, 0.5, 0.0, -5.0);
}

.drink-cell-9 {
   -fx-fill: #FF00FF;
   -fx-stroke: transparent;
    -fx-effect: dropshadow(gaussian, rgba(9, 69, 204, 0.62), 10, 0.5, 0.0, 0.0);
    -fx-effect: innershadow(gaussian, rgba(9, 42, 204, 0.62), 10, 0.5, 0.0, 5.0);
    -fx-effect: innershadow(gaussian, rgba(3, 31, 85, 0.63), 10, 0.5, 0.0, -5.0);
}


 /*CSS for the GUIDrinkController*/
