.dark-gradientpane {
  -fx-background-radius: 10;
  -fx-background-color:
         radial-gradient(radius 100%,
                          derive(-fx-base,-60%),
                          derive(-fx-base,-80%)),
         derive(-fx-base,-40%),
         radial-gradient(radius 100%,
                          derive(-fx-base,-60%),
                          derive(-fx-base,-80%));
  -fx-background-insets: 0,1,2;
}

/*CSS for the GUIDrinkController*/
.drink-cell-0 {
     -fx-fill: yellow;
     -fx-stroke: green;
     -fx-stroke-width: 5;
     -fx-stroke-dash-array: 12 2 4 2;
     -fx-stroke-dash-offset: 6;
     -fx-stroke-line-cap: butt;
 }
 .drink-cell-1 {
      -fx-fill: red;
      -fx-stroke: black;
      -fx-stroke-width: 5;
      -fx-stroke-dash-array: 12 2 4 2;
      -fx-stroke-dash-offset: 6;
      -fx-stroke-line-cap: butt;
  }

 /*CSS for the GUIDrinkController*/
